* {
  box-sizing: border-box;
}
html, body {
  color: rgb(41,41,41);
  font-family: Georgia, 'Cambria', 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 1.6em;
}
.container {
  max-width: 976px;
  margin: 0 auto;
}
.row:before,
.row:after {
  clear: both;
  content: "";
  display: table;
}
/*
 * Create the columns 
 */
[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 15px;
  background-color: #F2F2F2;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}


/* 
 * Set the offsets
 */
.col-offset-2 {
  margin-left: 16.66%;
}
.col-offset-3 {
  margin-left: 25%;
}
.col-offset-4 {
  margin-left: 33.33%;
}
.col-offset-5 {
  margin-left: 41.66%;
}
.col-offset-6 {
  margin-left: 50%;
}
.col-offset-7 {
  margin-left: 58.33%;
}
.col-offset-8 {
  margin-left: 66.66%;
}
.col-offset-9 {
  margin-left: 75%;
}
.col-offset-10 {
  margin-left: 83.33%;
}
.col-offset-11 {
  margin-left: 91.66%;
}
.col-offset-12 {
  margin-left: 100%;
}


/*
 * Text
 */
a {
  border-top: 1px solid;
  border-bottom: 1px solid;
  color: rgb(127,127,127);
  text-decoration: none;
  padding: 1px 0 2px 0;
}
a:hover {
  color: rgb(178,178,178);
}
.left {
  float: left;
}
.centered {
  text-align: center;
}
.right {
  float: right;
}


/*
 * Formatting
 */
hr {
  border: none;
  border-top: 1px solid;
  height: 1px;
  margin: 25px 0 25px 0;
  text-align: center;
}
hr.has--frill:before {
  background: rgb(255,255,255);
  content: "| |";
  display: inline-block;
  font-size: 0.9em;
  position: relative;
  top: -12px;
}
p {
  margin: 20px 0 20px 0;
}
p.tab {
  text-indent: 50px;
}

/*
 * Images
 */
.img-container {
  display: inline-block;
}
.img-container.img-left {
  float: left;
  padding: 0 15px 15px 0;
}
.img-container.img-right {
  float: right;
  margin: 0 0 0 1.5em;
}
.img-footer {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(178,178,178);
  font-size: 11px;
  color: rgb(127,127,127);
  padding: 5px 0 5px 0;
}
.img-footer p {
  font-style: italic;
  margin: 0;
  text-align: center;

}

/*
 * Lists
 */

ul.horizontal-list {
  list-style-type: none;
}
ul.horizontal-list li {
  display: inline;
}
ul.unmarked-list {
  list-style-type: none;
}

/*
 * Media queries
 */

/*
 * screen
 */
@media only screen 
  and (max-width: 667px) {
  [class*='col-'] {
    width: 100%;
  }
  [class*='col-offset-'] {
    margin: 0;
  }
}

/*
 * iPhone6
 */
@media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) 
  and (orientation : landscape) 
  and (-webkit-min-device-pixel-ratio : 2) { 

}
@media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) 
  and (orientation : portrait) 
  and (-webkit-min-device-pixel-ratio : 2) { 
  [class*='col-'] {
    width: 100%;
  }
  [class*='col-offset-'] {
    margin: 0;
  }
}

/*
 * iPhone6+
 */
@media only screen 
  and (min-device-width : 414px) 
  and (max-device-width : 736px) 
  and (orientation : landscape) 
  and (-webkit-min-device-pixel-ratio : 3) { 
}
@media only screen 
  and (min-device-width : 414px) 
  and (max-device-width : 736px) 
  and (orientation : portrait) 
  and (-webkit-min-device-pixel-ratio : 3) { 
  [class*='col-'] {
    width: 100%;
  }
  [class*='col-offset-'] {
    margin: 0;
  }
}