h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}
p {
  font-family: $default-serif;
  line-height: 1.5;
  margin: 0;
}
a::after {
  @include link-flair;
  content: ' ';
  height: 1px;
  background-color: $default-grey;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: block;
  opacity: 0;
  width: 0;
}
a:hover::after {
  width: 100%;
  opacity: 1;
}