@media (min-width: 480px) {
  .container {
    width: 424px;
  }
}
@media (min-width: 718px) {
  .container {
    width: 680px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 868px;
  }
}
@media (min-width: 1292px) {
  .container {
    width: 1016px;
  }
}


