.row:before,
.row:after {
  content:"";
  display: table;
  clear: both;
}
[class*='grid-'],
.one,
.one-half,
.one-third,
.one-fourth  {
  float: left;
  min-height: 1px;
  padding: 12px;
}
.one {
  width: 100%;
}
.one-half {
  width: 50%;
}
.one-third {
  width: 33.333333333%;
}
.one-fourth {
  width: 25%;
}
@media (max-width: 480px) {
  .one,
  .one-half,
  .one-third,
  .one-fourth {
    width: 100%;
  }
}